* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #B4D0E7;
    font-family: monospace;
}

body {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: white;
    font-size: 6em;
    margin-top: 2%;

}

.numb {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin-top: 70px;
    background-color: white; 
    border: 2px solid black;
    border-radius: 12px;
    width: 40%;
    padding: 1%;
}

p {
    background-color: white;
}

.container {

    margin-top: 40px;
    padding-left: 100px;
    padding:50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {

    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.increaseByOneButton {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    transition-duration: 0.4s;
    border-radius: 12px;
    width: 40%;
    height: 150px;    
}

.increaseByOneButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}
  
.increaseByOneButton:hover {
    background-color: black;
    color: white;
}

.plusTenButton {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    transition-duration: 0.4s;
    border-radius: 12px;
    width: 40%;
    height: 150px;
    margin-top: 5%;
}

.plusTenButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}
  
.plusTenButton:hover {
    background-color: black;
    color: white;
}

.minusTenButton {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    transition-duration: 0.4s;
    border-radius: 12px;
    width: 40%;
    height: 150px; 
    margin-top: 5%; 
}

.minusTenButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}
  
.minusTenButton:hover {
    background-color: black;
    color: white;
}

.decreaseByOneButton {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    transition-duration: 0.4s;
    border-radius: 12px;
    width: 40%;
    height: 150px;
    
}

.decreaseByOneButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}

.decreaseByOneButton:hover {
    background-color: black;
    color: white;
}
  
.resetButton {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    transition-duration: 0.4s;
    border-radius: 12px;
    height: 100px;
    width: 800px;
    margin-top: 50px;
}
  
.resetButton:hover {
    background-color: black;
    color: white;
}
